# Java related
target/**
**/target/
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
.factorypath
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/target/

# My ignore
/eventservice/log/
/eventservice/src/test/java/com/github/goodfatcat/eventservice/service/MyTest.java
